.form-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
}

.form-group input {
  padding: 8px;
  border:none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

small {
  color: red;
  font-size: 16px;
  margin-top: 3px;
}

[formGroupName="address"] {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.units-container {
  margin-top: 20px;
}

.units-container h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.unit-group {
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  flex-wrap: wrap;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #fafafa;
  margin-bottom: 10px;
}

.unit-group label {
  font-weight: bold;
}

.unit-group input {
  width: 150px;
  height:30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.unit-group button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  height:40px;
}

.unit-group button:hover {
  background: darkred;
}

.add-unit-button {
  background: green;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}

.add-unit-button:hover {
  background: darkgreen;
}
.submitbutton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit-button {
  background: rgb(34, 12, 231);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 150px;
  height:40px;
}

/* table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
  background: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

th {
  background: #333;
  color: white;
  font-weight: bold;
}

td ul {
  padding-left: 10px;
}

td ul li {
  list-style-type: none;
}
td div {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}
td button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  width: 100px;
  height:40px;
  margin: 5px;
}

td button:hover {
  background: darkred;
} */



