<h1> Company Data</h1>
<table>
    <thead>
      <tr>
        <th>Company Name</th>
        <th>Country</th>
        <th>Street</th>
        <th>City</th>
        <th>Zip</th>
        <th>Units</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for( data of storedData; track data; let i= $index ){
      <tr  >
        <td>{{ data.company_name }}</td>
        <td>{{ data.country }}</td>
        <td>{{ data.street }}</td>
        <td>{{ data.city }}</td>
        <td>{{ data.zip }}</td>
        <td>
          <ul>
            @for(unit of data.units;track unit){
            <li>
            {{ unit.unit_name}}, Total_Price = {{ unit.total_sum}}
            </li>
          }
          </ul>
        </td>
        <td>
          <div>
          <button class="update" (click)="editRecord(data.id)">Edit</button>
          <button class="delete" (click)="deleteRecord(data.id)">Delete</button> 
          </div>
        </td>
      </tr>
    }
    </tbody>
  </table>

  