table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  th {
    background: #333;
    color: white;
    font-weight: bold;
  }
  
  td ul {
    padding-left: 10px;
  }
  
  td ul li {
    list-style-type: none;
  }
  td div {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
  }
  td button.delete, td button.update  {
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    width: 100px;
    height:40px;
    margin: 5px;
  }

  td button.delete {
    background: red;

  }

  td button.update {
    background: green;

  }
  
  td button.delete:hover {
    background: darkred;
  }

  td button.update:hover {
    background: darkgreen;

  }
  